<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
    

    <nav>
        <ul>
            <li><a href="/#query2">Main page</a></li>
            <li><a href="/query1">Simple Query</a></li>
            <li><a href="/query2">Better Query Result</a></li>
            <li><a href="/query3">Better Query 3</a></li>
        </ul>
    </nav>

    <div class="content">
        <div class="available-samples">
            <h1>Available samples</h1>
            <ol>
                <li><a name="query1"></a><a href="/query1">Query 1</a> - create table treating row as a list (eg. <code>row[1]</code>)</li>
                <li><a name="query2"></a><a href="/query2">Query 2</a> - create table treating row as an object (eg. <code>row.AddressLine1</code>)</li>
                <li><a name="query3"></a><a href="/query3">Query 3</a> - full sample CRUD application</li>
            </ol>
        </div>
    </div>

</body>

</html>
