<!DOCTYPE html>
<html>

<head>
    <title>Query with template</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>

    <nav>
        <ul>
            <li><a href="/#query2">Main page</a></li>
            <li><a href="/query1">Simple Query</a></li>
            <li><a href="/query2">Better Query Result</a></li>
            <li><a href="/query3">Better Query 3</a></li>
        </ul>
    </nav>

    <h1>Better Query 3</h1>
    <table>
        <tr>
            <td>Street</td>
            <td>City</td>
        </tr>
        {% for row in rows %}
        <tr>
            <td>{{ row.AddressLine1 }}</td>
            <td>{{ row.City }}</td>
            <td><a href="/edit/{{ row.AddressID }}">Edit</a></td>
            <td><a href="/delete/{{ row.AddressID }}">Delete</a></td>
        </tr>
        {% endfor %}
    </table>
    <p><a href="/insert">Add new address</a></p>
</body>

</html>
